.listWrapper{
    width: 90vh;
    border: 1px solid #ccc;
    padding: 20px;
}

.noFiles{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: #6f1414;
    font-weight: 600;
    min-height: 50vh;
    
}

.container{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.linkStyle{
    text-decoration: none;
    color: #000;
    padding: 2px;
}

.linkStyle:hover{
    color: #9e0000;
    font-weight: 600;
    text-decoration: underline;
}