.wrapper {
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
 }
 .dateBox{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 10px;
    gap: 2px;
 }
 .dateText {
    border: 1px dotted black;
 }